#about {
    background: var(--bg);
    padding: 100px 40px;
}

.about-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.about-avatar {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #5b5bf0;
    flex-shrink: 0;
}

.about-text {
    max-width: 650px;
}

.about-text h2 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #1f2a44;
}

.about-text p {
    font-size: 1.7rem;
    line-height: 1.8;
    color: #5c6b82;
}

.about-text p+p {
    margin-top: 25px;
}


@media (max-width: 768px) {

    .about-inner {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .about-avatar {
        width: 220px;
        height: 220px;
    }

    .about-text h2 {
        font-size: 2.5rem;
    }

    .about-text p {
        font-size: 1.1rem;
    }
}